In [113]:
# import packages
import pandas as pd
import numpy as np

#Import dataset
education = pd.read_csv('C:\\Users\\mboke\\Documents\\2020\\Summer II\\Tech Bootcamp\\Education.csv')

In [114]:
# Displaying dataframe attributes
nrows, ncols = education.shape
nrows, ncols

(400277, 26)

In [115]:
# Explore an observation
education.iloc[3]

Unnamed: 0                                        364634
Function                         Substitute Compensation
Use                                          Instruction
Sharing                                  School Reported
Reporting                                         School
Student_Type                                 Unspecified
Position_Type                                 Substitute
Object_Type                                     Benefits
Pre_K                                           NO_LABEL
Operating_Status                       PreK-12 Operating
Object_Description                     EMPLOYEE BENEFITS
Text_2                                      TEACHER SUBS
SubFund_Description                         GENERAL FUND
Job_Title_Description           Teacher, Short Term Sub
Text_3                                           Regular
Text_4                                               NaN
Sub_Object_Description                               NaN
Location_Description                                 NaN
FTE                                                  NaN
Function_Description             UNALLOC BUDGETS/SCHOOLS
Facility_or_Department                               NaN
Position_Extra                PROFESSIONAL-INSTRUCTIONAL
Total                                               22.3
Program_Description       GENERAL MIDDLE/JUNIOR HIGH SCH
Fund_Description                                     NaN
Text_1                               REGULAR INSTRUCTION
Name: 3, dtype: object

In [99]:
# Start acquiring information about the data
# use head to view the first 10 rows
education.head(10)

,Unnamed: 0,Function,Use,Sharing,Reporting,Student_Type,Position_Type,Object_Type,Pre_K,Operating_Status,...,Sub_Object_Description,Location_Description,FTE,Function_Description,Facility_or_Department,Position_Extra,Total,Program_Description,Fund_Description,Text_1
0,134338,Teacher Compensation,Instruction,School Reported,School,NO_LABEL,Teacher,NO_LABEL,NO_LABEL,PreK-12 Operating,...,NaN,NaN,1.0,NaN,NaN,KINDERGARTEN,50471.810,KINDERGARTEN,General Fund,NaN
1,206341,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,Non-Operating,...,NaN,NaN,NaN,RGN GOB,NaN,UNDESIGNATED,3477.860,BUILDING IMPROVEMENT SERVICES,NaN,BUILDING IMPROVEMENT SERVICES
2,326408,Teacher Compensation,Instruction,School Reported,School,Unspecified,Teacher,Base Salary/Compensation,Non PreK,PreK-12 Operating,...,NaN,NaN,1.0,NaN,NaN,TEACHER,62237.130,Instruction - Regular,General Purpose School,NaN
3,364634,Substitute Compensation,Instruction,School Reported,School,Unspecified,Substitute,Benefits,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,UNALLOC BUDGETS/SCHOOLS,NaN,PROFESSIONAL-INSTRUCTIONAL,22.300,GENERAL MIDDLE/JUNIOR HIGH SCH,NaN,REGULAR INSTRUCTION
4,47683,Substitute Compensation,Instruction,School Reported,School,Unspecified,Teacher,Substitute Compensation,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,NON-PROJECT,NaN,PROFESSIONAL-INSTRUCTIONAL,54.166,GENERAL HIGH SCHOOL EDUCATION,NaN,REGULAR INSTRUCTION
5,229958,Facilities & Maintenance,O&M,School Reported,School,Unspecified,Custodian,Benefits,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,NON-PROJECT,NaN,UNDESIGNATED,-8.150,EMPLOYEE BENEFITS,NaN,EMPLOYEE BENEFITS
6,417668,Instructional Materials & Supplies,Instruction,School Reported,School,Special Education,Non-Position,Supplies/Materials,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,NaN,NaN,SUPPLIES AND MATERIALS,2000.050,SPECIAL EDUCATION LOCAL,LOCAL FUND,NaN
7,126378,Food Services,O&M,School on Central Budgets,Non-School,Unspecified,Coordinator/Manager,Benefits,NO_LABEL,PreK-12 Operating,...,NaN,DISTRICT WIDE ORGANIZATION UNI,NaN,NON-PROJECT,NaN,UNDESIGNATED,0.720,UNDESIGNATED,NaN,UNDESIGNATED
8,275539,Teacher Compensation,Instruction,School Reported,School,Unspecified,Teacher,Benefits,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,ELA S - TEACHING SPANISH ONLY,NaN,PROFESSIONAL-INSTRUCTIONAL,228.250,GENERAL ELEMENTARY EDUCATION,NaN,REGULAR INSTRUCTION
9,85262,Substitute Compensation,Instruction,School Reported,School,Unspecified,Substitute,Benefits,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,UNALLOC BUDGETS/SCHOOLS,NaN,PROFESSIONAL-INSTRUCTIONAL,69.560,GENERAL ELEMENTARY EDUCATION,NaN,REGULAR INSTRUCTION

In [75]:
# Use describe to get summary statistics
education.describe()

          Unnamed: 0            FTE         Total
count  400277.000000  126071.000000  3.957220e+05
mean   225186.018537       0.426794  1.310586e+04
std    130025.142718       0.573576  3.682254e+05
min         2.000000      -0.087551 -8.746631e+07
25%    112601.000000       0.000792  7.379770e+01
50%    225243.000000       0.130927  4.612300e+02
75%    337722.000000       1.000000  3.652662e+03
max    450340.000000      46.800000  1.297000e+08

In [116]:
# Drop "Unnamed: 0", we can use the auto-generated index instead
education.drop(columns="Unnamed: 0", inplace=True)

In [117]:
# Observe the column names
for name in education.columns:
    print(name)

Function
Use
Sharing
Reporting
Student_Type
Position_Type
Object_Type
Pre_K
Operating_Status
Object_Description
Text_2
SubFund_Description
Job_Title_Description
Text_3
Text_4
Sub_Object_Description
Location_Description
FTE
Function_Description
Facility_or_Department
Position_Extra
Total
Program_Description
Fund_Description
Text_1

In [118]:
# Find the number of NA values per column
pd.isnull(education).sum()

Function                       0
Use                            0
Sharing                        0
Reporting                      0
Student_Type                   0
Position_Type                  0
Object_Type                    0
Pre_K                          0
Operating_Status               0
Object_Description         24784
Text_2                    312060
SubFund_Description        93422
Job_Title_Description     107534
Text_3                    291125
Text_4                    346531
Sub_Object_Description    308674
Location_Description      238223
FTE                       274206
Function_Description       58082
Facility_or_Department    346391
Position_Extra            135513
Total                       4555
Program_Description        95617
Fund_Description          197400
Text_1                    107992
dtype: int64

In [119]:
# Check for duplicated rows
education.duplicated().sum()

17650

In [120]:
# Drop duplicate rows 
education.drop_duplicates(inplace=True)

In [121]:
# Double check that the duplicates were removed
education.duplicated().sum()

0

In [82]:
# Find the data types of each column
education.dtypes

Function                   object
Use                        object
Sharing                    object
Reporting                  object
Student_Type               object
Position_Type              object
Object_Type                object
Pre_K                      object
Operating_Status           object
Object_Description         object
Text_2                     object
SubFund_Description        object
Job_Title_Description      object
Text_3                     object
Text_4                     object
Sub_Object_Description     object
Location_Description       object
FTE                       float64
Function_Description       object
Facility_or_Department     object
Position_Extra             object
Total                     float64
Program_Description        object
Fund_Description           object
Text_1                     object
dtype: object

In [122]:
# Find number of unique values in each column
education.nunique(dropna=False)

Function                      37
Use                            8
Sharing                        5
Reporting                      3
Student_Type                   9
Position_Type                 25
Object_Type                   11
Pre_K                          3
Operating_Status               3
Object_Description           603
Text_2                       302
SubFund_Description          275
Job_Title_Description       3517
Text_3                        35
Text_4                       245
Sub_Object_Description       183
Location_Description         355
FTE                        21004
Function_Description         688
Facility_or_Department       180
Position_Extra               581
Total                     286495
Program_Description          422
Fund_Description             142
Text_1                      1424
dtype: int64

After closely reading the problem statement on driven data, I came to understand that the columns "Function" through "Operating Status" each contain a label.  The remaining columns are all freform text data (aside from FTE and Total, which are freeform float values).

Although the columns containing a label sometimes contain "NO LABEL," we decided that we didn't want to drop these rows or replace "NO LABEL" with NA. The "NO LABEL" gives us insights that the label didn't fall into one of the other categories listed.

In [84]:
# Figure out what Text_1, Text_2, Text_3, Text_4 contain
education["Text_2"].unique()

array([nan, 'BOND EXPENDITURES', 'TEACHER SUBS',
       'SPECIAL EDUCATION INSTRUCTION', 'ADM/PROF',
       'OPERATIONS - UTILITIES', 'TEACHER', 'FOOD SERVICES',
       'CITY WIDE MUSIC GROUPS', 'CUSTODIAL SERVICES',
       'UNASSIGNED PERS/PAID LEAVES', 'ESL/BILINGUAL EDUCATION',
       'POST SECONDARY READINESS', 'TRANSPORTATION',
       'SCHOOL NURSE SERVICES', 'SUPPLIES & MATERIALS',
       'INSTRUCTIONAL SUPPORT TEAMS', 'SPECIAL ED SYSTEMWIDE COSTS',
       'ATHLETICS', 'SCHOOL ADMINISTRATIVE SUPPORT', 'GENERAL EDUCATION',
       'TIF GRANT', 'PREVENTION AND INTERVENTION', 'CUSTODIAL-SCHOOLS',
       'TEACHER LEARNING & LEADERSHIP', 'MAINTENANCE',
       'PERSONNEL SERVICES', 'STUDENT SERVICES CHARTER SCHOO',
       'TRANSPORT', 'AFTERSCHOOL PROGRAMS', 'EARLY EDUCATION',
       'LEGAL SERVICES', 'PROFESSIONAL DEVELOPMENT PROGRAMS',
       'PUBLIC UTILITIES', 'ADULT VOC ED OPPORTUNITY',
       'SAFETY AND SECURITY', 'PRINCIPAL', 'LIBRARY & MEDIA',
       'GRANTS MANAGEMENT', 'WAREHOUSE', 'MATH/SCIENCE',
       'SEVERE DISABILITIES', 'REGULAR SALARY',
       'SPECIAL EDUCATION SUMMER SCHOOL', 'FACILITIES',
       'GIFTED AND TALENTED', 'HUMANITIES', 'PSYCHOLOGICAL SERVICES',
       'INSTRUCTIONAL PROFESSIONAL DEV', 'HEALTH SERVICES',
       'COLLEGE READY', 'SAFETY', 'TRAVEL', 'PURCHASING', 'CLERICAL',
       'PARENT RESOURCE CENTERS', 'CHIEF ACADEMIC OFFICER',
       'EXT DAY TUITION PAID KINDERGAR', 'ALTERNATIVE EDUCATION',
       'ITEMGG-TECHNOLOGY APPLICATIONS', 'FOODSVC', 'STRATEGIC PLANNING',
       'TEXTBOOK PROGRAM', 'ALTERNATIVE ED / CONSTITUENCY',
       'EXTENDED SALARY', 'EARLY STAGES', 'HUMAN RESOURCES RECRUITMENT',
       'PAYROLL', 'PARAPROF', 'ITEMGA OUTDOOR EDUCATION',
       'TEACHER EFFECTIVENESS', 'ITEMGG-PRODUCT MANAGEMENT',
       'SPEECH & LANGUAGE', 'ITEMGG-INFO SYSTEMS TECHNOLOGY',
       'CORRECTION SYSTEM INSTRUCTIONAL PROGRAMS',
       'Supplies and Materials', 'TEACHERSUP', 'BOND REDEMPTION',
       'DISTRICT-WIDE PROJECTS', 'EARLY CHILDHOOD EDUCATION', 'YEAR END',
       'SUPPLIES', 'ASSESSMENT AND RESEARCH',
       'INSTRUCTIONAL TECH AND SYSTEM SUPPORT', 'FACILITY SERVICES',
       'STRATEGIC MANAGEMENT', 'GENERAL LEDGER ACCOUNTING',
       'SCHOOL LEADERSHIP', 'ITEMGF TEACHING FELLOWS',
       'SUPPLIES AND MATERIALS', 'MILITARY SCIENCE EDUCATION',
       'MILD MODERATE', 'EDUCATIONAL RESOURCE SERVICES',
       'OTHER OPERATING EXPENSES', 'ACCOUNTS PAYABLE',
       'CONTRACTED SERVICES', 'MEDICAID', 'COMMUNICATIONS OFFICE',
       'CUSTODIAL-OTHER', 'MASTER EDUCATORS', 'Payroll', 'Proff.-Contr.',
       'ITEMGG-CUSTOMER RELATIONS MGMT', 'Extra Duty Pay',
       'ADVANCED KINDERGARTEN', 'PRESCHOOL - SPECIAL ED',
       'LOCAL GRANTS ADMINISTRATION', 'ACCOUNTABILITY-RESEARCH-EVAL',
       'SCHOOL OPERATIONS SUPPORT', 'SCHOOL TRANSFORMATION',
       'TEACHER XPAY FOR XCURRICLUAR', 'PERSONNEL',
       'CONTRACTUAL SERVICES', 'RELATED SERVICES',
       'OFFICE OF THE SUPERINTENDENT', 'UNDESIGNATED', 'ITEMGE TRUST',
       'RESERVE, INTERFUND TRANSFE', 'STRATEGY OFFICE',
       'GENERAL SUPPLIES', 'MATERIAL & SUPPLIES', 'BUDGET OFFICE',
       'COCURRICULUM/EXTRA-CURRICULAR ACTIVITIES', 'DISBURSING OFFICE',
       'PLANNING AND ANALYSIS', 'OPERATIONS', 'STUDENT SUBMISSIONS',
       'MANAGEMENT,DIRECTION & OVERSIGHT', 'YOUTH ENGAGEMENT',
       'TUITION BILLING & AMD-FS', 'Physical Education / Wellness',
       'VOCATIONAL EDUCATION', 'CHIEF OPERATING OFFICER',
       'ALTERNATIVE PLACEMENT SERVICES', 'COMMUNITY RELATIONS',
       'TEXTBOOK ACQUISITION', 'SUBTEACHER',
       'SPECIAL EDUCATION CLASSROOM SUPPORT', 'SOCIAL WORK SERVICES',
       'INNOVATIVE PROGRAMS', 'SAFE & DRUG FREE SCHOOLS',
       'ITEMGG-DEPARTMENT-WIDE', 'COMMUNICATIONS',
       'MULTILINGUAL OUTREACH', 'ACCOUNTING OPERATIONS',
       'CENTRAL OFFICE SUPPORT', 'BOARD OF EDUCATION', 'SCHOOL OF CHOICE',
       'ITEMGH ELEMENTARY', 'LOGISTICS- MAIL,PRINTING & DUPLICATING',
       'PUPIL RECORDS', 'PURCHASE REPORTS', 'TRANSPORTATION/FACILITES',
       'ITEMGG-CIO/CTO', 'STUDENT SUPPORT SERVICES',
       'ITEMGH EXTENDED DAY', 'SCHOOL SUPPORT',
       'SAFETY & SECURITY/FACILITIES', 'TEACHER PERFORMANCE ASSESSMENT',
       'Contracted Services', 'SCHOOL-BASED PARTNERSHIPS',
       'EMPLOYEE BENEFITS', 'BUDGET OPERATIONS',
       'INCLUSIVE ACADEMIC PROGRAMS', 'CITY WIDE MARCHING BAND',
       'SUMMER SCHOOL PROGRAMS', 'SUPP MATRLS', 'OTHER',
       'OSE FINANCIAL MANAGEMENT', 'ITEMGE SYS DEVELOPMENT/TRAIN',
       'Transportation Department', 'ENTERPRISE MGMT/FACILITIES',
       'SECURITY SERVICES', 'Other Operating Cost',
       'CURRICULUM DEVELOPMENT & IMPLEMENTATION',
       'CONTRACTING AND PROCUREMENT', 'ITEMGG/FACILITIES',
       'Athletic Department', 'ITEMPP', 'PENSION COPS',
       'PERFORMANCE MANAGEMENT', 'IMPROVING STUDENT ACHV',
       'INTERNAL AUDIT', '"Multilingual Department, Elem', 'SUBCLASS',
       'CAPITAL SUPPLIES', 'EDUCATIONAL ASSESSMENT & ACCOUNTABILITY',
       'CHARACTER ED', 'Other Operating Expenses',
       'CONSTRUCTION SERVICES', '"Performing Arts Department, E',
       'STUDENT BOARD OF EDUCATION', ' ITEMGI DEBT SERVICE',
       'OFFICE OF SCHOOL TURNAROUND', 'STRATEGY PROGRAM OFFICE',
       'Supp. - Materials', 'Area Superintentents', 'Special Education',
       'Regular Salary', 'RISK MANAGEMENT', 'capital outlay',
       'OSE RESOLUTION', 'extra duty pay', 'TRADES',
       'Supplies & Materials', 'STUDENT HEARINGS', 'ITEMPQ',
       'DEEP PROGRAM', 'Vocational', 'Gifted And Talented',
       'Secondary Scoial Studies', 'New School & Temp Furnishing',
       'TEACHER CLASS SIZE RELIEF', 'Supplies / Materials',
       'GRANTS RESOURCE CENTER', 'INFORMATION MANAGEMENT',
       'Area Superintentents  - ', 'STUDENT ATTENDANCE', 'Warehousing',
       'SERVICES', 'START UP COSTS', 'New Construction Department Ad',
       'Maintenance Department Adminis', 'MS', 'Travel', 'Elementary',
       'TRAVEL & MISC', 'ASSETS MANAGEMENT', 'Special Programs',
       'Custodial Department', 'Secondary Language Arts',
       'Facility Managemen', 'Capital supplies', 'READING RECOVERY',
       'Other Operating Costs', 'OSE OPERATIONS', 'EXTERNAL',
       'OSE NON-PUBLIC PLACEMENTS', 'Middle', 'Minor Projects',
       'Supp.-Materials', 'MISC',
       'FINANCIAL SERVICES/BUSINESS OPERATIONS', 'TRANSITORY SERVICES',
       'LABOR MANAGEMENT AND PARTNERSHIPS', 'LEASE ADMINISTRATION',
       '"Performing Arts Department,', 'TECHNOLOGY IMPROVEMENTS',
       'COUNTY TREASURER FEES', 'Finance Department Administrat',
       'Technology Department-License & Maintenance Fees',
       'PRESCHOOL PROGRAM START-UP', 'Secondary Social Studies',
       'CAPITAL OUTLAY', 'SCHOOL OF THE ARTS MS',
       'INSTRUCTIONAL EQUIPMENT REPAIR', 'Foreign Language',
       'PRINCIPAL PAY FOR PERFORMANCE', 'SUBSTITUTE TEACHERS',
       'Contractual Services', 'RATE', 'Student Services',
       'Accounting And Business Servic', 'Supplies', 'ITEMGE MILL LEVY',
       'EXTRA DUTY PAY', 'ITEMGA/FACILITES', 'CONTRACT SCHOOLS',
       'SUPPLIES & MATRLS', 'Contracts', 'PLAYGRD',
       'RESERVE INTERFUND TRANSFER', 'TELECOM-REIMBURSEMENT',
       'MISC EXPENDITURES', 'travel',
       'SCHOOL SOCIAL & PSYCHOLOGICAL SERVICES', 'Misc Operating Costs',
       'Software', 'Elem/Interm Science', 'Purchasing Department',
       'Inter/Middle Mathematics', 'MISC EXPENSES', 'Contractual',
       'DISTRICTWIDE SPECIAL PROJECTS', 'EDUCATIONAL TRUST FUNDS',
       'BOND REDEMPTION TRANSFER', 'Recruitment', 'Admin Other Operating',
       'Miscellenous', 'Supp.- Materials', 'SUPP MTRLS', 'Salary',
       'Materials & Supplies', 'Supp- Mtrls', 'Ninth Grade Center',
       'Supp &Materials', 'ELECTION', 'Salaries', 'Reading Materials',
       'DISTRICT WIDE COPIER LEASE', 'H R RECRUITMENT TRANSFERS',
       'STAFF DEVELOPMENT'], dtype=object)

In [44]:
education["Text_3"].unique()

array([nan, 'Regular', 'Alternative', 'Turnaround',
       'Professional and Contract Services', 'New/Closed Schl', 'Charter',
       'Other Services', 'Employee Travel', 'Supplies for Instruction',
       'Communication and IT Related', 'Insurance Related Expenses',
       'Staff Development', 'Equipment for Operations',
       'Other Materials and Supplies', 'Allocations to Schools',
       'Compass Learning', 'Transportation', 'Textbooks', 'Other',
       'Autism Partnership', 'Rent', 'Indirect Costs',
       'Equipment for Instruction', 'Periodicals, Office supplies Etc',
       'Liability Charges', "Trustee's Commissions", 'ITEMFH',
       'Workers Compensation Charges',
       'Dues / Memberships Not in Registrations', 'Debt Transfers',
       'Distinguished Professionals of ITEMFC', 'Project GRAD ofITEMFC',
       'Other Services Misc', 'Voyager Expanded Learning'], dtype=object)

In [85]:
education["Text_1"].unique()

array([nan, 'BUILDING IMPROVEMENT SERVICES', 'REGULAR INSTRUCTION', ...,
       'FAM & COMM EMPOWER CONF', 'NC NEW SCHOOLS PROJ - ',
       'MEMORIAL FUND'], dtype=object)

In [86]:
education["Text_4"].unique()

array([nan, 'Regular Instruction', 'SIG - ARRA',
       'Transportation - Bus Drivers', 'Title I - Supervisors',
       'Undistributed', 'Operation of Plant',
       'Basic Educational Services - District Objective ', 'All Sports',
       'First Class', 'Special Education Instruction',
       'Printers for teachers and therapists', 'Title I - Teachers',
       'Regular Salary', 'transportation - Second Runs', 'IDEA Part B  ',
       'Regular Instructional Support', 'Teacher Induction',
       'Office of Principal', 'IAF', 'Education Jobs Program',
       'Teacher Advancement Program (TAP)',
       'Computers for instruction purposes for students w/ disabilit',
       'Held Funds', 'Parent Literacy', 'choir', 'External Vendor',
       'Other Student Support', 'Summer School',
       'Special Education Support', 'Extended Week',
       'RTTP Focus Schools ', 'Extra Duty', 'Custodial - Substitutes',
       'transportation - mechanics', 'IDEA Part B',
       'Title II Part A - Highly Qualified ', 'Transportation',
       'transportation - aides', 'Game Workers',
       'Career & Technical Instruction',
       'transportation - aides, special ed.', 'Title I - Other Salaries',
       'Supp and Materials that do not require specific approval',
       'Targeted Pre-K Initiative', 'Science Extended Day', 'Reading',
       'transportation - Bus Drivers, Special Ed.', 'Extra Duty Salary',
       'IAF ', 'Crossing Guards', 'Race to the Top ', 'State TIF Grant',
       'IDEA Part B ARRA', 'NIET/TIP', 'Board of Education',
       'Targeted Pre-K - State/Pilot', 'School Climate', 'SIG - ARRA ',
       'Title II Part A - Science', 'Volleyball', ' Century (720)',
       'Virtual School Program', 'Custodial - Regular',
       'Other Operating costs that do not require spec approval',
       'Renewal Schools', 'Tennis', 'Parent Involvement',
       'Training Inclusion Technology', 'Pre-School',
       'Reg Ed EIS (fed to local xtr)', 'Girls Track',
       'Alternative Schools Instruction', '9th Grade Summer Remediation',
       'Professional Staff Development or Training', 'Advanced Placement',
       'Elementary School Reading', 'Spec Ed AYP',
       'ESL - Program Director', 'Carl Perkins', 'Choir',
       'Physical Education Support',
       "Comp to write assessment reports, TBA's, core tests, ARD",
       'Football', 'YMCA', 'EL Civics', 'ARTS ', 'Summer Bridge Program',
       'Girls Soccer', 'Race to the Top', 'Creating Qualified Teachers',
       'transportation - Extended Year, Special Ed.',
       'Title II Part A - Social Studies',
       'transportation - substitute bus drivers', 'Schooled for Success',
       'Technology', 'Band', 'Human Resources', 'Baseball', 'ITEMFD Tech',
       'Pre-K', 'Title II Part A - Instr Coaches ', 'Title I - Cafeteria',
       'Middle School Reading', 'Birth to Kindergarten',
       'Furniture Allotment', 'Adult Education FY ',
       'Advancement via Individual Determination (AVID)',
       'Health Services', 'Security', 'Fiscal Services',
       'Title II Part A - Admn', 'Expand Quality CTE Programs',
       'Career & Technical Support', 'Boys Basketball', 'Pre-School ARRA',
       'Alternative Schools Support', 'Case Manager',
       'Cooperating Teacher Stipend',
       'Multilingual Dist Prof Development', 'Dance', 'Salary HELD',
       'Maintenance of Plant', 'Softball', 'Title III',
       'Office of Accountability', 'Coordinated Sch Health-Donations',
       'Math', 'Early Literacy', 'Soccer', 'Girls Basketball',
       'Boys Track', 'Fresh Fruit and Vegetable Program', 'Attendance',
       'Title I ARRA', ' Grade Program', 'TITLE I Director',
       'Language Arts Support', 'GED Testing Center', 'TAP Expansion',
       'ROTC', 'Fixed Asset Conversion',
       'Software with License for students in special ed',
       'Pk -  Summer Language Summer School', 'Minority Recruiting',
       'Office of the Superintendent', 'Adult Education', 'State TIF',
       'Safe Schools Act', 'Title III Immigrant Grant', 'CTE Benchmark',
       'Provide Professional Development', 'ThatÃƒÂƒ', 'Adult Programs',
       'Science Support', 'Professional and Contracted Services',
       'Supplies', 'Transfer Department', 'dance', 'Project Grad',
       'OTR, COTA, PT, PTA, SPeech Path, Five Oaks', 'String Instruments',
       'Materials to assist students improve their skills',
       'Mentoring Program',
       'Bilingual Education And Special Language Programs', 'thats',
       'Bricks Program', 'School Improvement - AE ARRA',
       'ROTC/LOTC MIDDLE SCHOOLS', 'ITEMFCCo Health Dept',
       'Health Services Grant', 'School Improvement', 'Play It Smart',
       'Consultants to work with teachers', 'World Languages Support',
       'RVAS', 'Consultants to assist in improving Sp. Ed Programs',
       'Cheerleaders', 'Adult Literacy', 'Travel', 'Adult Home Economics',
       'ROTC/LOTC HIGH SCHOOLS', 'Equipment', 'Cross Country',
       'Coordinated School Health', 'Swimming',
       'Link to Postsecondary CTE', 'string instruments', 'Nurse',
       'piano', 'Sufficient Size, Scope, and Quality',
       'Expand the Use of Technology', 'Miscellaneous',
       'Title II Part A - Language Training',
       'Auditory Impairment Services', 'Golf', 'Generic', 'Facilities',
       'Homeless Education', 'Excellence through Literacy',
       'Disciplinary Alternative Education Program - Daep Basic Serv',
       'band', 'Curriculum', 'Talented & Gifted Instruction', 'ITEMFB',
       'Perkins IV', 'COMMUNITIES IN SCHOOL',
       'CEIS -software for students in RTI with license',
       'choir, elementary', 'Plato Program', 'Start Up', 'STOCK',
       'Public Affairs', 'Adult Ed', 'Accompanists', 'RTTP Focus Schools',
       'Report', 'Adult High School',
       'Interpreter (language translation of deaf interpretation)',
       'Custodial - Grasscutters', 'Adult Ed Dislocated Worker',
       'Family Resource Center', 'Activities for Special Populations',
       'Land Purchase', 'Assessments and Evaluations',
       'COUNTY YOUTH SERVICES', 'Central & Other',
       'Printers for diags and sp.ed counselors',
       'Special Ed Transportation', 'FURNITURE', 'Summer Bridge Middle',
       'Title II D ARRA',
       'Student Management System for Special Education Students',
       'Visual Impairment Services', 'School Coupon Books',
       'Materials for EII Books, references, ideas, strategies',
       'Software scoring programs to score assessments', 'Warehouse',
       'Officials',
       'CEIS Maintenance agreement w/ tech support for reading/math',
       'Surrogate Parents',
       "Consultants to work with diagnosticians and LSSP's",
       'Assistive listening devices for students in hearing instruct',
       'significant behavior', 'Title I Technology'], dtype=object)

In [123]:
# After inspecting Text_ 1-4, it was clear that the information in each of these columns did not fall under
# specific categories and could all be contained in one column

# First, fill na values with ' ' to make addition of columns possible
education[["Text_1","Text_2","Text_3","Text_4"]]= education[["Text_1","Text_2","Text_3","Text_4"]].fillna(' ')
education["Text_1"] = education["Text_1"] + education["Text_2"] + education["Text_3"] + education["Text_1"]

In [124]:
# Check to make sure it worked:
pd.isnull(education["Text_1"]).sum()

0

In [125]:
# Now drop Text_2-4
education.drop(columns=["Text_2","Text_3","Text_4"],inplace=True)

In [126]:
# To deal with NA values, we can impute by utilizing the most common value for each column

# build a function to generate most common value for a given column:
def most_frequent(column_name):
    # pull all values for that label in function and the column for which we want to find the most frequent value
    all_values = education[column_name]
    # initialize dictionary
    counter = {}
    # fill dictionary with key value pairs to find the most common entry
    for word in all_values:
        if not pd.isnull(word):
            if word in counter:
                counter[word]+=1
            else:
                counter[word]=1
    Keymax = max(counter, key=counter.get)
    # return entry that appeared most frequently
    return Keymax

In [127]:
# initialize dictionary to state most frequent value per column
frequent_dict = {}

# Create list of freeform text columns
freeform_columns = education.columns[9:]

# Populate the dictionary
for col in freeform_columns:
    frequent_dict[col] = most_frequent(col)

In [128]:
#Check the frequent_dict to make sure it worked:
frequent_dict

{'Object_Description': 'EMPLOYEE BENEFITS',
 'SubFund_Description': 'GENERAL FUND',
 'Job_Title_Description': 'Teacher, Elementary ',
 'Sub_Object_Description': 'Extra Duty Pay/Overtime For Support Personnel',
 'Location_Description': 'School ',
 'FTE': 1.0,
 'Function_Description': 'NON-PROJECT',
 'Facility_or_Department': 'All Campus Payroll',
 'Position_Extra': 'PROFESSIONAL-INSTRUCTIONAL',
 'Total': 0.22,
 'Program_Description': 'EMPLOYEE BENEFITS',
 'Fund_Description': 'General Operating Fund',
 'Text_1': '    '}

In [129]:
# Now impute using fillna:
education.fillna(value=frequent_dict,inplace=True)

In [130]:
# double check that all NA values have been replaced
pd.isnull(education).sum()

Function                  0
Use                       0
Sharing                   0
Reporting                 0
Student_Type              0
Position_Type             0
Object_Type               0
Pre_K                     0
Operating_Status          0
Object_Description        0
SubFund_Description       0
Job_Title_Description     0
Sub_Object_Description    0
Location_Description      0
FTE                       0
Function_Description      0
Facility_or_Department    0
Position_Extra            0
Total                     0
Program_Description       0
Fund_Description          0
Text_1                    0
dtype: int64

In [131]:
# write output to cleaned CSV
education.to_csv(path_or_buf = 'C:\\Users\\mboke\\Documents\\2020\\Summer II\\Tech Bootcamp\\CleanedEducation.csv')